{% extends 'base_backoffice.html.twig' %}
{% block body %}
    <section id="body">
        <h1>Back office</h1>
        <section class=" bo_edit">
            <h2 class="backoffice_edit_h2">{{ title }}</h2>
            {{ form_start(form) }}
            <div class="backoffice_edit_div_name">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>

            <div class="backoffice_edit_div_link">
                {{ form_label(form.link) }}
                {{ form_widget(form.link) }}
            </div>
            <div hidden >{{ form_widget(form.skills) }}</div>
            <div class="backoffice_edit_div_skills">
                <label for="skills_add">Skills</label>
                <select id="skills_add" name="skills_add" >
                    <option value="choose">ajouter un skill</option>
                    {% for t in skills %}
                        <option value="{{ t.name }}">{{ t.name }}</option>
                    {% endfor %}
                </select>
                <div id="skills_buttons"></div>
            </div>

            <div class="backoffice_edit_div_image">
                {{ form_label(form.image) }}
                {{ form_widget(form.image) }}

            </div>

            <div class="backoffice_edit_div_buttons">
                <button><a href="{{ path('backoffice_index') }}">Annuler</a></button>
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}

        </section>
    </section>
{% endblock %}