{% extends 'base_backoffice.html.twig' %}
{% block body %}

    <section id="body">
        <h1>Back office
            {%  if api_status == false %}
                <span style="color: red" id="dot">.</span>
            {%  else %}
                <span style="color: green" id="dot">.</span>
            {% endif %}


        </h1>
        <section id="bo_skills" class="bo_sections">
            <h2> Skills</h2>
            <article>
                <table  cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>nom</th>
                        <th>ratio</th>
                        <th>actif</th>
                        <th>Outils</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for t in skills %}
                        <tr>
                            <td style="color:black;">{{ t.id }}</td>
                            <td style="color:black;">{{ t.name }}</td>
                            <td id="rangeTd" style="color:black;"><input type="range" min="0" max="5" step="1" value="{{ t.ratio / 5 }}" disabled> <p>{{ t.ratio / 5 }}</p></td>
                            <td style="color:black;"><input type="checkbox" id="{{ t.id }}"
                                        {% if  t.active == 1  %}
                                            checked
                                        {% endif %}
                                >
                            </td>
                            <td>
                                <a href="{{ path('backoffice_skill_edit', { id :  t.id }) }}" class="editBtn"><img  alt="image_edit_button" src="css/img/edit.png"></a>
                                <a href="{{ path('backoffice_skill_delete', { id :  t.id }) }}" class="delBtn"><img  alt="image_del_button" src="css//img/del.png"></a>
                            </td>


                        </tr>

                    {% endfor %}
                    <tr id="trSkillForm">
                        {{ form_start(form) }}
                        <td style="color:black;">Ajout</td>
                        <td>
                           {{ form_widget(form.name) }}
                        </td>
                        <td id="rangeTd">
                            <div style="display: none">{{ form_widget(form.ratio) }}</div>
                            <input id="range" type="range" min="0" max="5" step="1" value="0">
                            <p id="valeurDuRange">0</p>
                        </td>
                        <td>
                            {{ form_widget(form.active) }}
                        </td>
                        <td >
                            {{ form_widget(form.submit, { 'label': '+' }) }}
                        </td>
                        {{ form_end(form) }}
                    </tr>
                    </tbody>
                </table>

            </article>

        </section>
        <section id="bo_projects" class="bo_sections">
            <h2> Projects</h2>
            <article>
                <table  cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>nom</th>
                        <th>image</th>
                        <th>skills</th>
                        <th>Outils</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for t in projects %}
                        <tr>
                            <td style="color:black;">{{ t.id }}</td>
                            <td style="color:black;">{{ t.name }}</td>
                            <td class="backoffice_index_td_img" style="color:black;"><img alt="image_project" class="backoffice_index_img"src="{{ t.image }}"></td>
                            <td style="color:black;">{{ t.skills }}</td>
                            <td><a href="{{ path('backoffice_project_edit', { id :  t.id }) }}" class="editBtn"><img alt="image_edit_button" src="css/img/edit.png"></a>
                            <a href="{{ path('backoffice_project_delete', { id :  t.id }) }}" class="delBtn"><img alt="image_del_button" src="css/img/del.png"></a></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <a class="backoffice_index_button_new" href="{{ path('backoffice_project_new') }}">Ajouter</a>
            </article>
        </section>

        <section id="bo_blogs" class="bo_sections">
            <h2> Blogs</h2>
            <article>
                <table  cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>titre</th>
                        <th>image</th>
                        <th>date</th>
                        <th>texte</th>
                        <th>Outils</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for t in blogs %}
                        <tr>
                            <td style="color:black;">{{ t.id }}</td>
                            <td style="color:black;">{{ t.title }}</td>
                            <td class="backoffice_index_td_img" style="color:black;"><img alt="image_blog" class="backoffice_index_img"src="{{ t.image }}"></td>
                            <td style="color:black;">{{ t.date |format('Y-m-d') }}</td>
                            <td style="color:black;">{{ t.text }}</td>
                            <td>
                                <a href="{{ path('backoffice_blog_edit', { id :  t.id }) }}" class="editBtn"><img  alt="image_edit_button" src="css/img/edit.png"></a>
                                <a href="{{ path('backoffice_blog_delete', { id :  t.id }) }}" class="delBtn"><img  alt="image_del_button" src="css/img/del.png"></a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <a class="backoffice_index_button_new"href="{{ path('backoffice_blog_new') }}">Ajouter</a>
            </article>
        </section>

            <a id="btnDc" href="{{ path('backoffice_logout') }}">deconnecter</a>

    </section>

{% endblock %}



