
{% extends 'base.html.twig'%}
{% block body %}
    <section id="nav">
        <nav>
            <ul>
                <li id="aabout" class="menu">
                    <a>About</a>
                </li>
                <li id="askills" class="menu">
                    <a>Skills</a>
                </li>
                <li id="aprojects" class="menu">
                    <a>Projects</a>
                </li>
                <li id="ablog" class="menu">
                    <a>Blog</a>
                </li>
                <li id="acontact" class="menu">
                    <a>Contact</a>
                </li>

            </ul>

        </nav>
    </section>
    <section id="body">
        <section id="about">

            <h1>Web Developer</h1>
            <article>



                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a mauris at nulla bibendum aliquet ut ac
                        erat. Sed et gravida lorem. Morbi dolor nulla, porttitor ut molestie quis, sagittis vitae augue.
                        Nullam
                        erat risus, mattis sit amet ante vitae, efficitur eleifend mi. Nam fringilla venenatis accumsan.
                        Phasellus ut fermentum neque, in ultrices lorem. Curabitur ultricies purus et lorem lobortis
                        pellentesque. Phasellus justo diam, imperdiet placerat eleifend eget, facilisis sed nisl. Phasellus
                        ac
                        iaculis velit. Vestibulum dictum tellus magna, vitae laoreet neque pretium sit amet. Nullam mattis
                        orci
                        ac ligula laoreet, ut euismod libero maximus. Maecenas at lacus magna. Donec efficitur nulla in dui
                        malesuada facilisis. Duis a velit eget dui imperdiet lobortis a eget nunc.
                    </p>

            </article>
            <a id="contactmebtn">Contact Me</a>
        </section>

        <div class="trait"></div>





        <!-- SKILLS -->
        <section id="skills">
            <h1>skills</h1>
            <article>
                <ul>
                {% for i in skills %}
                    <li class="ratioSkill" data-percent="{{i.ratio}}">
                        <h6>{{i.name}}</h6>
                        <div></div>
                    </li>
                {% endfor %}




                </ul>


            </article>
        </section>




        <!-- PROJETCS -->
        <div class="trait"></div>
        <section  id="projects">
            <h1>projects</h1>
            <ul id="filters" class="button-group">
            <li>
                    <button class="unativeButton btnT button"  data-filter="*">Show all</button>
            </li>
            {% for i in skills %}
                     <li>
                    <button class="unativeButton btnT button"  data-filter="*.{{i.name}}">{{i.name}}</button>
                </li>


                {% endfor %}
                <p><input type="text" id="quicksearch" placeholder="Search" /></p>
            </ul>

           <article>


                <ul class="ulpro">


                {% for i in projects %}
                  <a class="pro {{i.technos}}" data-category="">
                        <img class=""src="{{i.img}}" alt="photoProject">
                        <p hidden>{{i.technos}}</p>
                    </a>
                {% endfor %}


                </ul>

            </article>
            </article>
        <a id="showmorepro" class="less"><img src="css/img/arrow_down.png" ></a>
        </section>

        <div class="trait"></div>
        <section id="blog">
            <h1>blog</h1>
            <article>
             {% for i in blogs %}
                  <article>
                <img src="{{i.image}}">
                <div>
                    <h3>{{i.title}}</h3>
                    <h3>{{i.date | date("m/d/Y")}}</h3>
                <p>{{i.text}}</p>
                </div>
            </article>
                {% endfor %}

            </article>

             <a id="showmoreblog" class="less"><img src="css/img/arrow_down.png" ></a>
        </section>
        <div class="trait"></div>
        <section id="contact">
            <h1>Contact me</h1>

            <form class="form-style-4" action="" method="post">
                <label for="field1">
                    <span>Enter Your Name</span><input type="text" name="field1" required="true" />
                </label>
                <label for="field2">
                    <span>Email Address</span><input type="email" name="field2" required="true" />
                </label>
                <label for="field3">
                    <span>Short Subject</span><input type="text" name="field3" required="true" />
                </label>
                <label for="field4">
                    <span>Message to Us</span><textarea name="field4" onkeyup="adjust_textarea(this)" required="true"></textarea>
                </label>
                <label>
                    <span> </span><input type="submit" value="Send Letter" />
                </label>
            </form>
        </section>

        <footer>
            <article>
                <a target="blank" class="imgRs" href="https://www.linkedin.com/in/bastien-aubry-926560172/"><img src="img/Linkedin_5.png" alt="linkedin_logo"></a>
                <a target="blank"  class="imgRs" href="https://github.com/Elevane?tab=repositories"><img src="img/Github_5.png" alt="github_logo"></a>
                <a target="blank"  class="imgRs" href="https://twitter.com/bastienaubry"><img src="img/Twitter_5.png" alt="twitter_logo"></a>
                <a  target="blank" class="imgRs" href="https://www.instagram.com/?hl=fr"><img src="img/Instagram_5.png" alt="instaga_logo"></a>

            </article>
            <p>Made by Bastien AUBRY</p>
            <a  target="blank" class="imgRs" id="admin" href="{{ path('admin_index') }}"><img src="img/gear.png" alt="instaga_logo"></a>
            
        </footer>
    </section>
{% endblock %}
