{% extends 'base.html.twig' %}
{% block body %}
    <section id="nav">
        <nav>
            <ul>
                <li id="aabout" class="menu">
                    <a>About</a>
                </li>
                <li id="askills" class="menu">
                    <a>Skills</a>
                </li>
                <li id="aprojects" class="menu">
                    <a>Projects</a>
                </li>
                <li id="ablog" class="menu">
                    <a>Blog</a>
                </li>
                <li id="acontact" class="menu">
                    <a>Contact</a>
                </li>
            </ul>
        </nav>
    </section>
    <section id="body">
        <section id="about">
            <h1>Web Developer</h1>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a mauris at nulla bibendum aliquet ut ac
                    erat. Sed et gravida lorem. Morbi dolor nulla, porttitor ut molestie quis, sagittis vitae augue.
                    Nullam
                    erat risus, mattis sit amet ante vitae, efficitur eleifend mi. Nam fringilla venenatis accumsan.
                    Phasellus ut fermentum neque, in ultrices lorem. Curabitur ultricies purus et lorem lobortis
                    pellentesque. Phasellus justo diam, imperdiet placerat eleifend eget, facilisis sed nisl. Phasellus
                    ac
                    iaculis velit. Vestibulum dictum tellus magna, vitae laoreet neque pretium sit amet. Nullam mattis
                    orci
                    ac ligula laoreet, ut euismod libero maximus. Maecenas at lacus magna. Donec efficitur nulla in dui
                    malesuada facilisis. Duis a velit eget dui imperdiet lobortis a eget nunc.
                </p>
            </article>
            <a id="contactmebtn">Contact Me</a>
        </section>
        <div class="trait"></div>

        <!-- SKILLS -->
        <section id="skills">
            <h1>skills</h1>
            <article>
                <ul>
                    {% for i in skills %}
                        <li class="ratioSkill" data-percent="{{ i.ratio }}">
                            {% if  i.ratio > 50  %}
                            <div style=" width: 800px;background: linear-gradient(to right, #0b090a {{ i.ratio }}%, #f0efeb {{ 100 - i.ratio }}%)">{{ i.name }} </div>
                            {% else %}
                                <div style=" width: 800px;background: linear-gradient(to left, #f0efeb {{ 100 - i.ratio }}%, #0b090a {{  i.ratio }}%)">{{ i.name }} </div>
                            {% endif %}
                            <p>{{ i.ratio  }} %</p>
                        </li>
                    {% endfor %}
                </ul>
            </article>
        </section>

        <!-- PROJECTS -->
        <div class="trait"></div>
        <section id="projects">
            <h1>projects</h1>
            <ul id="filters" class="button-group filters-button-group">
                <li>
                    <button id="*" class=" filter_buttons unativeButton btnT button *" data-filter="*">Show all</button>
                </li>
                {% for i in skills %}
                    <li>
                        <button id="{{ i.name }}" class="filter_buttons unativeButton btnT button {{ i.name }}" data-filter="*.{{ i.name }}">{{ i.name }}</button>
                    </li>
                {% endfor %}
            </ul>
            <article>
                <ul class="ulpro">
                    {% for i in projects %}
                        <a  class="cards_pro pro element-item {{ i.skills }}" data-category="">
                            <img class="" src="{{ i.image }}" alt="photoProject">
                            <p hidden> {{ i.name }}</p>
                        </a>
                    {% endfor %}
                </ul>
            </article>
        </section>

        <div class="trait"></div>
        <section id="blog">
            <h1>blog</h1>
            <article>
                {% for i in blogs %}
                    <article>
                        <img src="{{ i.image }}">
                        <div>
                            <h3>{{ i.title }}</h3>
                            <h3>{{ i.date | date("m/d/Y") }}</h3>
                            <p>{{ i.text }}</p>
                        </div>
                    </article>
                {% endfor %}

            </article>
<!----FOOTER--->
        </section>
        <div class="trait"></div>
        <section id="contact">
            <h1>Contact me</h1>
            {{ form_start(message_form) }}



            {{ form_end(message_form) }}

        </section>

        <footer>
            <article>
                <a target="blank" class="imgRs" href="https://www.linkedin.com/in/bastien-aubry-926560172/"><img
                            src="css/img/Linkedin_5.png" alt="linkedin_logo"></a>
                <a target="blank" class="imgRs" href="https://github.com/Elevane?tab=repositories"><img
                            src="css/img/Github_5.png" alt="github_logo"></a>
                <a target="blank" class="imgRs" href="https://twitter.com/bastienaubry"><img src="css/img/Twitter_5.png"
                                                                                             alt="twitter_logo"></a>
                <a target="blank" class="imgRs" href="https://www.instagram.com/?hl=fr"><img
                            src="css/img/Instagram_5.png" alt="instaga_logo"></a>

            </article>
            <p>Made by Bastien AUBRY</p>
            <a target="blank" class="imgRs" id="admin" href="{{ path('backoffice_login') }}"><img src="css/img/edit.png"
                                                                                                  alt="instaga_logo"></a
        </footer>
    </section>
{% endblock %}
